// Fonts

$mainFont                 : 'Montserrat', Arial, sans-serif;

// Colors

$darkBackgroundColor      : #151b1f;
$lightBackgroundColor     : #e9ecf3;
$fontColor                : #ffffff;
$greyFontColor            : rgba(255,255,255,.6);
$greyColor                : #959DA8;
$accentBlue               : #3c72ff;

$adminAccent              : #094df1;
$adminAdditional          : #F0F0F0;
$adminFontColor           : #353535;
$adminFontColorAdditional : #969696;

$animTime                 : .35s;
